@import './variables.css';
@import "./font-awesome/fontawesome.min.css";
@import "./font-awesome/solid.min.css";
@import "./font-awesome/brands.min.css";

body {
	min-width: 365px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--font-color);
	background-color: var(--background-color);
	display: grid;
	grid-template-rows: auto 1fr;
	font-size: 15px;
}
h1, h2, h3, h4 {
	all: unset;
	margin: 0 0 .5em 0;
}
h2 { 
	font-weight: bold;
	font-size: 1.2rem;
}
p {
	margin: 0 0 .5rem 0;
}
a { 
	color: var(--primary);
	text-decoration: none;
	font-weight: bold;
}
#character-sync {
	height: 100%;
	grid-template-rows: auto 1fr auto;
	display: none;
}
#character-sync.is-active {
	display: grid;
}
#header {
	padding: .8rem;
	border-bottom: solid 1px var(--overlay);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header h1 {
	all: unset;
	font-size: 1.5rem;
}
#header button {
	margin: -.5rem 0;
}
#footer {
	padding: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .75rem;
	background-color: var(--neutral-1);
	color: var(--neutral-5);
}
#footer a {
	padding-top: 1px;
	color: var(--neutral-5);
}

#dice-roller {
	display: none;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}
#dice-roller.is-active {
	display: grid;
}
#dice-roller .dice-footer {
	padding: .5rem;
	position: relative;
}
#dice-roller .dice-footer .quick-roll {
	position: absolute;
	top: .5rem;
	left: .5rem;
	width: calc(100% - 1rem);
	height: 40px;
}
#dice-roller #quick-rolls {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}
#dice-roller #quick-rolls .roll-button {
	padding: 0;
	font-size: 1.4rem;
	position: relative;
}
#dice-roller #quick-rolls .roll-button.d100 {
	font-size: 1rem;
}
#dice-roller #quick-rolls .roll-button.d100 i:first-child {
	vertical-align: super;
	margin-right: -1px;
}
#dice-roller #quick-rolls .roll-button.d100 i:nth-child(2) {
	vertical-align: sub;
	margin-left: -1px;
}
#dice-roller #quick-rolls .roll-button .count {
	position: absolute;
	right: -.1rem;
	bottom: -.1rem;
	font-size: .8rem;
	background-color: var(--neutral-3);
	color: var(--neutral-2);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-weight: normal;
	text-align: center;
	line-height: 15px;
}
#dice-roller ul#rolls {
	margin: 0;
  padding: .5rem .5rem 0 .5rem;
	height: calc(100vh - 189px);
  list-style: none;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: .5rem;
}
#dice-roller ul#rolls .roll .roll__notation {
  font-weight: bold;
	font-style: italic;
}
#dice-roller ul#rolls .roll .roll__result {
  display: flex;
  justify-content: space-between;
  background-color: var(--overlay);
  align-items: center;
	border-radius: .3rem;
}
#dice-roller ul#rolls .roll .roll__result-output {
  padding: .5rem;
  font-weight: bold;
}
#dice-roller ul#rolls .roll .roll__result-total {
  font-weight: bold;
  font-size: 1.2rem;
  width: max-content;
  padding: .5rem;
}

.top {
	text-align: center;
	font-size: 1.8rem;
	padding: 1rem 0;
	color: var(--neutral-5);
}
.top .fa-sync-alt {
	font-size: 4rem;
	display: block;
}
button, .btn {
	all: unset;
	text-transform: uppercase;
	background-color: var(--primary);
	color: var(--white);
	padding: .75rem;
	border-radius: 25px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	min-width: 43px;
	min-height: 43px;
}
button:hover, .btn:hover {
	background-color: var(--primary-hover);
}
button > * {
	pointer-events: none;
}
.btn-sm {
 font-size: .75rem;
 padding: .4rem .5rem;
 min-height: 25px;
 font-weight: light;
}
.btn-clear {
	background: none;
	color: var(--primary);
}
.btn-clear:hover {
	background-color: var(--overlay);
}
.btn-neutral {
	background-color: var(--neutral-2);
	color: var(--neutral-4);
}
.btn-neutral:hover {
	background-color: var(--neutral-1);
}
.btn-logo {
	border: solid 1px var(--primary);
	font-size: 3rem;
	color: var(--font-color);
	text-transform: none;
}
.logo {
	width: 200px;
	height: 80px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 9rem;
	text-align: center;
}
.logo__hk {
	background-image: var(--hk-logo);
}
.logo__dndb .fab {
	line-height: 80px;
}

#tabs { 
	padding: .5rem;
	margin-bottom: .5rem;
	border-bottom: solid 2px var(--neutral-4);
	display: flex;
	justify-content: center;
	gap: .3rem;
}
#tabs .tab {
	padding-bottom: .5rem;
	margin-bottom: calc(-.5rem - 2px);
	cursor: pointer;
}
#tabs .tab button {
	color: var(--neutral-3);
	font-weight: light;
}
#tabs .tab:hover button {
	border-radius: .3rem;
	background-color: var(--overlay);
}
#tabs .tab.is-active { 
	border-bottom: solid 2px var(--primary);
}
#tabs .tab.is-active button { 
	color: var(--neutral-6);
}
.tab-pane { 
	display: none; 
	padding: 0 1rem;
	max-height: 450px;
	overflow: auto;
}
.tab-pane.is-active { display: block; }

.tab-pane .header, .tab-pane .footer {
	position: sticky;
	background-color: var(--background-color);
	z-index: 10;
	margin: 0 -.5rem;
	padding: .5rem;
}
.tab-pane .header {
	top: 0;
	padding-top: 0;
}
.tab-pane .footer {
	bottom: 0;
}

.pills { 
	padding-top: .5rem;
	overflow-y: auto;
}
.pills button { 
	color: var(--neutral-3);
	font-weight: light;
	text-transform: unset;
}
.pills button.is-active { 
	background-color: var(--overlay);
	color: var(--neutral-6);
}

.step {
	display: none;
	padding-bottom: .5rem;
}
.step.is-active {
	display: block;
}
.step.on-site.is-active {
	display: flex;
	flex-direction: column;
}
.step.on-site img {
	width: 200px;
	margin: 1.5rem auto;
}
.step.on-site p {
	text-align: center;
	font-size: 1.5rem;
	padding: 0 1rem;
}

.step.on-site p a {
	text-decoration: none;
}

ul.characters { 
	all: unset; 
	margin-bottom: 1rem;
	display: block;
}
ul.characters li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	border-radius: .3rem;
	flex-wrap: wrap;
	margin-bottom: 2px;
}
ul.characters li.no-characters {
	text-align: center;
	justify-content: center;
}
ul.characters li.no-characters:hover {
	background: none;
}
ul.characters li:hover, ul.characters li.is-active { background-color: var(--overlay); }
ul.characters li .character { 
	display: flex;
	align-items: center;
	cursor: default;
	flex: 1;
}
ul.characters li .character .avatar {
	width: 50px;
	height: 50px;
	border: solid 2px var(--primary);
	border-radius: 50%;
	margin: -.5rem .75rem -.5rem -.75rem;
	background-color: var(--neutral-1);
	background-position: center top;
	background-size: cover;
	box-shadow: var(--drop-shadow); 
	-webkit-box-shadow: var(--drop-shadow); 
	-moz-box-shadow: var(--drop-shadow);
	position: relative;
}
ul.characters li .character .avatar .level {
	position: absolute;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background-color: var(--neutral-1);
	color: var(--font-color);
	right: -.5rem;
	bottom: -.5rem;
	line-height: 1.5rem;
	text-align: center;
	font-size: .8rem;
}
ul.characters li .character .info .resource { 
	color: var(--neutral-4);
	font-size: .8rem;
	font-weight: light;
}
ul.characters li .character .info .name { 
	font-weight: bold;
	max-width: 160px;
}
ul.characters li .actions {
	display: flex;
	justify-content: flex-end;
}
ul.characters li .sheet {
	flex-direction: column;
	gap: .5rem;
	flex: 0 1 100%;
	margin-top: .5rem;
	padding-top: .5rem;
	display: none;
}
ul.characters li.is-active .sheet {
	display: flex;
}
ul.characters li .sheet .abilities {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	justify-content: space-between;
}
ul.characters li .sheet .abilities .ability {
	flex: 0 1 31%;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: .2rem;
	align-items: center;
}
ul.characters li .sheet .abilities .ability .name {
	text-transform: uppercase;
	font-size: .7rem;
	background-color: var(--neutral-2);
	width: calc(100% - .4rem);
	border-radius: .1rem;
	padding: .1rem .2rem;
	display: flex;
	justify-content: space-between;
}
ul.characters li .sheet .abilities .ability .modifier {
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	background-color: var(--neutral-1);
	width: 100%;
}
ul.characters li .sheet .abilities .ability .score {
	text-align: right;
	color: var(--neutral-4);
}
ul.characters li .sheet .stats {
	display: flex;
	justify-content: space-between;
	margin-bottom: .5rem;
}
ul.characters li .sheet .stats .stat {
	text-align: center;
}
ul.characters li .sheet .stats .stat .value {
	font-size: 1.5rem;
	font-weight: bold;
}
ul.characters li .sheet .stats .stat .name {
	text-transform: uppercase;
	font-size: .7rem;
}

.input {
	width: auto;
	display: flex;
	background-color: var(--overlay);
	border-radius: 25px;
	height: 2.5rem;
	cursor: text;
}
.input__icon {
	padding-left: .75rem;
}
.input__icon i {
	line-height: 2.5rem;
}
.input input {
	all: unset;
	padding: 0 .5rem;
	line-height: 2.5rem;
	flex: 1;
}

/* Classes */
.w-full { width: 100%; }
.mb-1 { margin-bottom: .5rem; }
.mt-1 { margin-top: .5rem; }
.ml-1 { margin-left: .5rem; }
.mr-1 { margin-right: .5rem; }
.my-1 { margin: .5rem 0; }
.mx-1 { margin: 0 .5rem; }
.m-1 { margin: .5rem; }
.pb-1 { padding-bottom: .5rem; }
.pt-1 { padding-top: .5rem; }
.pl-1 { padding-left: .5rem; }
.pr-1 { padding-right: .5rem; }
.py-1 { padding: .5rem 0; }
.px-1 { padding: 0 .5rem; }
.p-1 { padding: .5rem; }
.pb-2 { padding-bottom: 1rem; }
.pt-2 { padding-top: 1rem; }
.pl-2 { padding-left: 1rem; }
.pr-2 { padding-right: 1rem; }
.py-2 { padding: 1rem 0; }
.px-2 { padding: 0 1rem; }
.p-2 { padding: 1rem; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-lg { font-size: 1.5rem; }
.text-xl { font-size: 2rem; }

.primary { color: var(--primary); }
.bg-primary { background-color: var(--primary); }
.neutral-4 { color: var(--neutral-4); }
.bg-neutral-4 { background-color: var(--neutral-4); }

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: inherit;
}
.block {
	display: block;
}
.spin {
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
.hidden {
	display: none;
}

/* ANIMATIONS */
@-moz-keyframes spin { 
	100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
	100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform:rotate(360deg); 
	} 
}