:root {
	--primary: #da362e;
	--primary-hover: #d85049;
	--white: #fff;
	--font-color: #393a3d;
	--background-color: #fff;
	--drop-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
	--hk-logo: url("../assets/images/logo_harmless_key.png");
	
	--neutral-6: #393a3d;
	--neutral-5: #5c5e64;
	--neutral-4: #777b81;
	--neutral-3: #a0a3a8;
	--neutral-2: #b2b6bb;
	--neutral-1: #d8d8d8;

	--overlay: #d8d8d873;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		
		--font-color: #d8d8d8;
		--background-color: #202225;
		--drop-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
		
		--neutral-1: #151618;
		--neutral-2: #202225;
		--neutral-3: #a0a3a8;
		--neutral-4: #777b81;
		--neutral-5: #b2b6bb;
		--neutral-6: #d8d8d8;

		--overlay: #d8d8d825;
	}
}